.header {
    height: 34vw;
    margin: 30px auto;
    background: url('/header_img.png') no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    position: relative;
}

.header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: FadeIn 3s;
}

.header-contents h2 {
    font-weight: 500;
    font-size: max(4.5vw, 22px);
    color: #fff;
}

.header-contents p {
    font-weight: 400;
    font-size: 1.5vw;
    color: #fff;
}

.header-contents a {
    border: none;
    color: #747474;
    background-color: #fff;
    padding: 1vw 2.3vw;
    font-size: max(1vw, 13px);
    font-weight: 500;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.1s;
}

.header-contents a:hover {
    border: 2px solid #fff;
    color: #fff;
    background-color: transparent;
    padding: 1vw 2.3vw;
    font-size: max(1vw, 13px);
    font-weight: 500;
    border-radius: 50px;
    margin-top: 15px;
    cursor: pointer;
}

@media(max-width:1050px) {

    .header-contents {
        max-width: 55%;
    }
}

@media(max-width:750px) {

    .header {
        height: 40vw;
    }

    .header-contents {
        max-width: 80%;
        align-items: center;
    }

    .header-contents h2 {
        text-align: center;
    }

    .header-contents p {
        text-align: center;
        max-width: 75%;
        font-size: 2vw;
    }

    .header-contents button {
        margin-top: 15px;
        padding: 1vw 2vw;
    }
}